@page "/incomecategories"
@inject IIncomeCategoryService IncomeCategoryService
@inject NavigationManager NavigationManager

<PageTitle>Income Categories</PageTitle>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    @if (_signInSuccessful == false)
                    {
                        <h3>You are not authorized.</h3>
                    }
                    else
                    {
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-between mb-4">
                            <h3>Income Categories</h3>
                            <button class="btn btn-success" @onclick="CreateNewIncomeCategory">Create Income Category</button>
                        </div>

                        <div class="form-inline">
                            <form class="d-flex">
                                <input type="text" class="form-control mb-2 mr-sm-2 me-1"
                                   placeholder="Search"
                                   @bind="IncomeCategoryService.SearchFilter">
                                <button type="button" class="btn btn-primary mr-sm-2 mb-2 me-1"
                                    @onclick="Search">
                                    Search
                                </button>
                                <button type="button" class="btn btn-danger mr-sm-2 mb-2"
                                    @onclick="Clear">
                                    Clear
                                </button>
                            </form>
                        </div>
                        <br />

                        @if (IncomeCategoryService.IncomeCategories == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else if (IncomeCategoryService.IncomeCategories.Count == 0)
                        {
                            <p>There are no Income Categories.</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Category name</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var incomeCategory in IncomeCategoryService.IncomeCategories)
                                        {
                                            <tr class="text-nowrap align-middle">
                                                <td width="91%" class="text-truncate" style="max-width: 100px;">@incomeCategory.CategoryName</td>
                                                <td width="9%">
                                                    <button class="btn alert-primary" @onclick="(() => ShowIncomeCategory(incomeCategory.Id))"><i class="oi oi-pencil"></i></button>
                                                    <button class="btn alert-danger" @onclick="(() => DeleteIncomeCategory(incomeCategory.Id))"><i class="oi oi-basket"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br />

                            <Pagination TotalPagesQuantity="IncomeCategoryService.TotalPageQuantity" CurrentPage="IncomeCategoryService.CurrentPage" Radius="2"
                                SelectedPage="SelectedPage">
                            </Pagination>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    protected bool _signInSuccessful = false;

    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;

        try
        {
            if (user.Identity.IsAuthenticated == true)
            {
                _signInSuccessful = true;
                await IncomeCategoryService.GetAllItems(IncomeCategoryService.CurrentPage);
            }
            else
            {
                _signInSuccessful = false;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private async Task Search()
    {
        IncomeCategoryService.CurrentPage = 1;
        await IncomeCategoryService.GetAllItems(IncomeCategoryService.CurrentPage);
    }

    private async Task Clear()
    {
        IncomeCategoryService.SearchFilter = string.Empty;
        IncomeCategoryService.CurrentPage = 1;
        await IncomeCategoryService.GetAllItems(IncomeCategoryService.CurrentPage);
        NavigationManager.NavigateTo("/incomecategories");
    }

    protected async Task SelectedPage(int page)
    {
        IncomeCategoryService.CurrentPage = page;
        await IncomeCategoryService.GetAllItems(page);
    }

    void ShowIncomeCategory(int id)
    {
        NavigationManager.NavigateTo($"incomecategory/{id}");
    }

    void CreateNewIncomeCategory()
    {
        NavigationManager.NavigateTo("/incomecategory");
    }

    async Task DeleteIncomeCategory(int id)
    {
        await IncomeCategoryService.DeleteIncomeCategory(id);
        await IncomeCategoryService.GetAllItems(IncomeCategoryService.CurrentPage);
    }
}
