@page "/expensecategories"
@inject IExpenseCategoryService ExpenseCategoryService
@inject NavigationManager NavigationManager

<PageTitle>Expense Categories</PageTitle>

<h3>Expense Categories</h3>

@if (ExpenseCategoryService.ExpenseCategories == null)
{
    <p><em>Loading...</em></p>
}
else if (ExpenseCategoryService.ExpenseCategories.Count == 0)
{
    <p>There are no Expense Categories.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var expenseCategory in ExpenseCategoryService.ExpenseCategories)
            {
                <tr>
                    <td>@expenseCategory.CategoryName</td>
                    <td>
                        <button class="btnalert-primary" @onclick="(() => ShowExpenseCategory(expenseCategory.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="CreateNewExpenseCategory">Create Expense Category</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ExpenseCategoryService.GetExpenseCategories();
    }

    void ShowExpenseCategory(int id)
    {
        NavigationManager.NavigateTo($"expensecategory/{id}");
    }

    void CreateNewExpenseCategory()
    {
        NavigationManager.NavigateTo("/expensecategory");
    }
}
