@page "/expensecategories"
@inject IExpenseCategoryService ExpenseCategoryService
@inject NavigationManager NavigationManager

<PageTitle>Expense Categories</PageTitle>

@if (_signInSuccessful == false)
{
    <h3>You are not authorized.</h3>
}
else
{
    <h3>Expense Categories</h3>

    <div class="form-inline">
        <form class="d-flex">
            <input type="text" class="form-control mb-2 mr-sm-2 me-1"
               placeholder="Search"
               @bind="ExpenseCategoryService.SearchFilter">
            <button type="button" class="btn btn-primary mr-sm-2 mb-2 me-1"
                @onclick="Search">
                Search
            </button>
            <button type="button" class="btn btn-danger mr-sm-2 mb-2"
                @onclick="Clear">
                Clear
            </button>
        </form>
    </div>

    @if (ExpenseCategoryService.ExpenseCategories == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (ExpenseCategoryService.ExpenseCategories.Count == 0)
    {
        <p>There are no Expense Categories.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Category name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expenseCategory in ExpenseCategoryService.ExpenseCategories)
                {
                    <tr>
                        <td>@expenseCategory.CategoryName</td>
                        <td>
                            <button class="btnalert-primary" @onclick="(() => ShowExpenseCategory(expenseCategory.Id))"><i class="oi oi-pencil"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <Pagination TotalPagesQuantity="ExpenseCategoryService.TotalPageQuantity" CurrentPage="ExpenseCategoryService.CurrentPage" Radius="2"
            SelectedPage="SelectedPage">
        </Pagination>
    }

    <button class="btn btn-primary" @onclick="CreateNewExpenseCategory">Create Expense Category</button>
}

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    protected bool _signInSuccessful = false;

    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;

        try
        {
            if (user.Identity.IsAuthenticated == true)
            {
                _signInSuccessful = true;
                await ExpenseCategoryService.GetAllItems(ExpenseCategoryService.CurrentPage);
            }
            else
            {
                _signInSuccessful = false;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }

    private async Task Search()
    {
        ExpenseCategoryService.CurrentPage = 1;
        await ExpenseCategoryService.GetAllItems(ExpenseCategoryService.CurrentPage);
    }

    private async Task Clear()
    {
        ExpenseCategoryService.SearchFilter = string.Empty;
        ExpenseCategoryService.CurrentPage = 1;
        await ExpenseCategoryService.GetAllItems(ExpenseCategoryService.CurrentPage);
        NavigationManager.NavigateTo("/expensecategories");
    }

    protected async Task SelectedPage(int page)
    {
        ExpenseCategoryService.CurrentPage = page;
        await ExpenseCategoryService.GetAllItems(page);
    }

    void ShowExpenseCategory(int id)
    {
        NavigationManager.NavigateTo($"expensecategory/{id}");
    }

    void CreateNewExpenseCategory()
    {
        NavigationManager.NavigateTo("/expensecategory");
    }
}
